@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url("weather-icons.min.css");

body {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 16px;
    background-color: #FFF;
}

h1, h2 {
    font-weight: 300;
}

h1 {
    font-size: 44px;
}

.intro {
    margin-top: 3em;
    margin-bottom: 3em;
}

.nav {
    margin-left: auto;
    margin-right: auto;
}

.wi {
    font-size: 2em;
    color: #aaa;
}

.wi-day-sunny, .wi-sunrise, .wi-sunset {
    color: #ffA500;
}

.current .row {
    margin-bottom: 1em;
}

.current table {
    border-color: red;
}

p .high,.low {
    padding: 0.5em;
    width: 3em;
}

.high {
    margin-right: 1em;
    background-color: rgba(231, 76, 60, 0.5);
}

.low {
    margin-left: 1em;
    background-color: rgba(52, 152, 219, 0.5);
}
