@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);


@font-face {
    font-family: "iconvault";
    src: url("../forecastFont/iconvault_forecastfont.eot");
    src: url("../forecastFont/iconvault_forecastfont.eot?#iefix") format("embedded-opentype"),
    url("../forecastFont/iconvault_forecastfont.woff") format("woff"),
    url("../forecastFont/iconvault_forecastfont.ttf") format("truetype"),
    url("../forecastFont/iconvault_forecastfont.svg#iconvault") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: iconvault, "Open Sans", Helvetica, sans-serif;
    font-size: 16px;
}

h1, h2 {
    font-weight: 300;
}

h1 {
    font-size: 44px;
}

.intro {
    margin-top: 3em;
    margin-bottom: 3em;
}

.nav {
    margin-left: auto;
    margin-right: auto;
}

/*just sun*/
.icon-sun::after {
    content: "\f113";
    color: rgb(255, 165, 0);
    position: absolute;
}

/*base cloud*/
.basecloud {
    font-family: 'iconvault';
    font-size:6em;
    content: '\f105';
    position:absolute;
    color: rgb(74, 74, 74);
}

/*showers before */
.icon-showers::before  {
    content: "\f104";
    position:absolute;
    color:#82b2e4;
}

/*sun after*/
.icon-sunny::after {
    content: "\f101";
    color: rgb(255, 165, 0);
    position: absolute;
}

.test {
    font-size: 80px;
}