<div class="container">
    <div class="intro text-center">
        <h1>Good {{timeOfDay}}, Vincent</h1>
        <p>Happy {{dayOfWeek}}! The weather is currently {{currentWeather.description}} and it's {{currentWeather.currentTemp}}&deg; F outside in {{currentWeather.city}}, {{currentWeather.country}}.</p>
    </div>

    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a href="#">All</a></li>
        <li role="presentation"><a href="#">Forecast</a></li>
        <li role="presentation"><a href="#">Current</a></li>
    </ul>

    <div class="row">
        <div class="col-md-6">
            <h2>Wind radar (meters/sec)</h2>
            <p class="text-center">North</p>
            <canvas id="polar-area" class="chart chart-polar-area"
                    chart-data="wind" chart-labels="labels">
            </canvas>
        </div>
        <div class="col-md-6">
            <h2>What's going on outside?</h2>
            <p class="test basecloud"></p>
            <p class="test icon-showers icon-sunny"></p>
        </div>
    </div>



</div>

