<a class="back btn btn-default" ng-click="back()">Back</a>
<div class="container">
    <div class="intro text-center">
        <h1>Good {{timeOfDay}}, {{user.name}}</h1>
        <p>Happy {{dayOfWeek}}! Currently {{currentWeather.currentTemp}} &deg;F
            and {{currentWeather.description}} in {{currentWeather.city}}, {{currentWeather.country}}.</p>
        <p class="btn btn-default" ng-click="refresh()">Refresh weather</p>
    </div>

    <ul class="options nav nav-tabs nav-justified">
        <li role="presentation" ui-sref-active="active"><a ui-sref="weather.current()">Current</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="weather.forecast()">Forecast</a></li>
    </ul>

    <div ui-view></div>

    <hr>
    <div class="credits row">
        <div class="col-md-4 text-left">
            <p>Weather provided by <a href="http://openweathermap.org/">OpenWeatherMap</a></p>
        </div>
        <div class="col-md-4 text-center">
            <p>Pictures provided by <a href="https://pixabay.com/">Pixabay</a></p>
        </div>
        <div class="col-md-4 text-right">
            <p>Weather fonts provided by <a href="https://erikflowers.github.io/weather-icons/">Weather Icons</a></p>
        </div>
    </div>
</div>