<!--Welcome.css-->
<link rel="stylesheet" href="css/welcome.css">

<div class="container">
    <h1>Welcome to forecast</h1>

    <label for="name">Name:</label>
    <input type="text" class="form-control" placeholder="Please enter your name" id="name" ng-model="user.name" required>

    <label for="location">Location:</label>
    <input type="text" class="form-control" placeholder="Please enter your location" id="location" ng-model="user.location" required>

    <!--TODO try autocomplete of cities-->

    <hr/>
    <p ui-sref="weather()" class="btn btn-success btn-lg">View</p>
</div>